<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>The Internet Explorer 10 Countdown</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		
		<link rel="stylesheet" media="all" href="css/custom.css"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<!--
		<script type="text/javascript" src="js/grid.js"></script>
		-->
		
	</head>
	
	<body lang="en">
		
		<div id="grid">&nbsp;</div>
		
		<header>
			<h1>Hopefully there will be no Internet Explorer 10…</h1>
		</header>
		
	</body>
	
</html>