<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>The Internet Explorer 10 Countdown</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		
		<link rel="stylesheet" media="all" href="css/custom.css"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		<!--
		<script type="text/javascript" src="js/grid.js"></script>
		-->
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-21951688-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</head>
	
	<body lang="en">
		
		<div id="grid">&nbsp;</div>
		
		<header>
			<h1>Hopefully there will be no Internet Explorer 10…</h1>
		</header>
		
	</body>
	
</html>